.treeRow.hasChildren .treeLabel {
	background-image: url(chrome://firebug/skin/win/twistyClosed.png);
	background-repeat: no-repeat;
	background-position: 2px 2px;
}

.treeRow.hasChildren.opened .treeLabel {
	background-image: url(chrome://firebug/skin/win/twistyOpen.png);
}

.treeRow .treeLabel {
	padding-left: 18px;
	padding-right: 10px;
	white-space: nowrap;
}

.treeRow.hasChildren .treeLabel:hover {
	color: blue;
	cursor: pointer;
	text-decoration: underline;
}

.treeRowInfoGroup {
    border-top: 1px solid #EEEEEE;
    background: url(chrome://firebug/skin/group.png) repeat-x #FFFFFF;
}

.treeRowInfoBody {
/*    display: none; */
    margin: 0;
    border: 1px solid #D7D7D7;
    border-right: none;
    padding: 8px;
    background-color: #FFFFFF;
    font-family: monospace;
    overflow-x: auto;
}

.stackLabel {
	font-weight: bold;
	padding-top: 10px;
}